Task-1/HousingData.csv
Task-1/test.csv
Task-1/train.csv
Task-2/pokemon.csv
Task-2/onlinefraud.csv
Task-3/wine+quality/
Task-3/Task_3.pdf
Task-3/adult/
Task-4/Task_4.pdf
Task-4/data/
Task-4/Deepweeds/
Task-4/FER/

