Task-1/HousingData.csv
Task-1/test.csv
Task-1/train.csv
Task-2/pokemon.csv
Task-2/onlinefraud.csv
Task-3/wine+quality/
Task-3/Task_3.pdf
Task-3/adult/
Task-4/Task_4.pdf
Task-4/data/
Task-4/Deepweeds/
Task-4/FER/
Task-4/fashion-mnist/
Task-5/manipal_atmospherics_df.csv
Task-5/office_script_clean.txt
Task-5/output_description_RTP5.pdf
Task-5/RTP_T5.pdf
Task-0/archive/
Task-0/Cryptonite RTP GBM 2026 (1).pdf
Task-0/Sentences_AllAgree.txt
Task-0/Task-0.txt
Task-0/TRAINING_TASK_0.pdf
Task-0/yolov8n.pt
Task-0/volleyball_match.mp4

*.mp4
